<%= form_with(url: '/admin/lines/read_file', local: true, method: "POST") do |form| %>
  <div class="field">
    <h2>Import Lines from a CSV file</h2>
    <%= form.file_field(:file, accept: '.csv') %>
  </div>
  <% if notice %>
    <div id="notice"><% notice %></div>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
